@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
.mapContainer {
    
    background-color: #F4F4F4;
    position: relative;
    min-height: 5rem;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    margin-bottom:1rem;
   
}


h3{
    margin: 0;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0 0 15px;
    
}
p{
    margin: 0;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    padding:5px 0 0 15px;
}
.icon{
    position: absolute;
    right: 10px;
    top: 10px;
    
}